@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
        <h1 class="display-4">ATC Movie  </h1>
        <h5 class="display-4">Welcome to the Movie database</h5>

    </div>*@
<div class="card" style=" margin-top: 20px">
    <div class="">
        <h1 class="display-2 text-center">ATC Movie  </h1>
        <h5 class="display-2 text-center">Welcome to the Movie database</h5>
    </div>
    <div class="row">
        <div class="card border-secondary col-6 col-md-4" style="max-width:">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">Movies</h4>
                <p class="card-text"></p>
            </div>
        </div>

    </div>
</div>
    </div>


