@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="card" style=" margin-top: 20px">
    <div class="">
        <h1 class="display-2 text-center">ATC Movie  </h1>
        <h5 class="display-2 text-center">Welcome to the Movie database</h5>



        <div>
            @*@Model.MovieAPI2.runtime*@

            <div class="card" style=" margin-top: 20px">
                <div class="card-header">

                    <img src="https://www.themoviedb.org/3/movie/550/@Model.MovieAPI2.poster_path" alt="Alternate Text" />
                </div>

            </div>

        </div>

    </div>
</div>

